@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');



body{
    background-color: #000f44;
    margin-top: 10%;
   /* background-image: linear-gradient(90deg,  yellow,  purple);*/
   
    background-image: url( "https://i.imgur.com/bcxmdBG.jpg");
    repeat: no repeat;
    position: cover;
}

.box{
position: relative;
width: 350px;
background: rgba(204, 255, 238, 0.5);
border-radius: 35px;
text-align: center;
margin: 0 auto;
box-shadow: 1px 2px 9px #000;
}

.box:after {
    content: "";
    display: block;
    padding-bottom: 10%;
}

#login {
    padding-top: 10%;
    font-family: Libre Baskerville;
    text-shadow: 1px 2px 3px #000;
    user-select: none;
    color: #ee647f;
    letter-spacing: 0.1em;
}

#form{
display: inline-block;
padding-top: 1%;
}

#uname:active{
    background-color: rgba(160, 255, 160, 0.58);
}

#uname{
    margin: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 1px 2px 1px  rgba(0, 0, 0, 0.5);
    background-color: rgba(141, 180, 234, 0.5);
    text-shadow: 1px 1px 1px #000;
    color: #ee647f;
    outline: none;
}

#pwd{
    margin: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 1px 2px 1px  rgba(0, 0, 0, 0.5);
    background-color: rgba(141, 180, 234, 0.5);
    color: #ee647f;
    text-shadow: 1px 1px 1px #000;
    outline: none;
}

/*to style placeholder text color*/
::placeholder{
    color: #ffa719ab;
    text-shadow: 1px 1px 1px #000;
    opacity:1;
}

#btn{
    margin: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 1px 2px 1px  rgba(0, 0, 0, 0.5);
    background-color: rgba(141, 180, 234, 0.5);
    font-family: Libre Baskerville;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
    color: #ee647f;
}

#btn:active{
    background-color: rgba(160, 255, 160, 0.58);
}

/*for pointer on */
#btn:hover{
    cursor: pointer;
}

